body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  font-family: sans-serif;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 0 0 5px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
